body {
   margin: 0;
   padding: 0;
   background-color: gray;
   margin-left: auto;
   margin-right: auto;
}
#document {
    width:100%;
    float: left;
    min-width: 1440px;
}
#title {
    float: left;
    padding: 1px 0 6px 15px;
}
#header {
    float: left;
    width: 100%;
    height: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
}
#baner{
  width:100%;
  height:100px;
  float:left;
  height:auto;
  background: #AB0011 url(../image/banner.png) no-repeat;	
}
#container {
	padding-right:5px;
	padding-left:10px;
    margin-left:auto;
    margin-right:auto;
    min-width:1440px;
    border: solid 1px white;
    font-size: medium;
}
#footer {
    clear: both;
    margin-top: 10px;
    float: center;
    padding: 10px;
    border-top: 1px solid #C3BBB6;
    width: 100%;
    text-align: center;
    color:white;
    font-size: small;
    font-family: helvetica, Arial;
    min-width: 1000px;
}
.ui-accordion{
   float: left;
   margin-bottom: 10px;
   margin-top: 10px;
   width: 150px;
   clear: left;
	
}
#center {
   float: left;
   margin-bottom: 10px;
   margin-top: 10px;
    /* background: #FFFFFF url(../img/cnt.bg.gif) 0 0 repeat-x; */
}

.required{
	color: red;
}

.button{
	margin-left:30px;
}
.noBorder{
	width: auto;
	border: 0px;
	margin:10px;	
}
.createLink{
	float: right;
}

.label {
	float:left;
    font-weight: bold;
    width:250px;
    color: #5E5147;
}
.entry .input, .entry .output, .entry .error {
    float: left;
    width: 350px;
    text-align: left;
}
